<h1 class="white-text">Editing Event</h1>

<%= render 'form', event: @event , class:"button"%>
<%= link_to 'Show', @event ,  class:"button"%> |
<%= link_to 'Back', edit_user_registration_path ,  class:"button-cancel" %>